@model WebApplication1.Models.Classes

@{
    ViewData["Title"] = "Details";
    Layout = "/Pages/_Layout.cshtml";
}



<style>
    .middleBody {
        display: flex;
        padding-top: 20px;
        height: 80%;
        width: 100%;
    }

    .memberBody {
        width: 100%;
        padding: 20px;
        height: 100%;
        background-color: #FAFAFA;
    }

    .upperBody {
        height: 10%;
        width: 100%;
        border-radius: 5px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
        padding-top: 18px;
    }

    .middleBody-Left {
        /* background-color: yellow; */
        width: 70%;
        height: 100%;
        /* padding-top: 80px; */
    }

    .middleBody-Right {
        width: 30%;
    }

    .searchBar {
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        background-color: white;
        height: 16%;
        display: flex;
        align-items: center;
    }

    .search-bar {
        width: 70%;
        padding-left: 20px;
        padding-right: 50px;
    }

    .search-btn {
        width: 30%;
        text-align: center;
    }

        .search-btn button {
            background-color: #304D70;
            color: white;
            padding: 8px 18px;
            border-radius: 5px;
            transition: transform 0.3s ease;
            border: none;
        }

            .search-btn button:hover {
                transition: 0.5s;
                transform: scale(1.1);
            }







    .search-container {
        position: relative;
        display: flex;
    }

    .search-input {
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        height: 40px;
    }

    .search-button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: -30px;
    }

        .search-button i {
            font-size: 18px;
            color: #888;
        }


    .middle-table {
        padding-top: 20px;
        height: 100%;
        border-radius: 5px;
    }

    .middle-table-bottom {
        background-color: white;
        height: 92%;
        border-radius: 5px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    }





    /* CSS for table */
    .table-container {
        overflow-x: auto;
    }

    table tr {
        height: 80px; /* Increase the height of each row */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: white; /* Set background color to white */
    }

        table th, table td {
            padding: 12px; /* Increase padding to increase row height */
            border-bottom: 1px solid #ddd; /* Add border only at the bottom */
        }

    /* CSS for select option to choose number of rows */
    .rows-select {
        margin-bottom: 10px;
    }

    /* CSS for search results */
    #search-results {
        overflow-y: auto;
        border: 1px solid #ddd;
        padding: 5px;
        height: 100%;
        border-radius: 5px;
        border: none;
    }















    .middle-table-bottom a {
        background-color: #304D70;
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.5s;
    }

        .middle-table-bottom a:hover {
            transition: 0.5s;
            /* transform: scale(1.1); */
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
        }





    /* Hide the first column in the search results table */
    #search-results table th:first-child,
    #search-results table td:first-child {
        display: none;
    }

    /* Style the scrollbar */
    #search-results {
        overflow-y: scroll; /* Ensure vertical scrollbar is visible */
        scrollbar-width: thin; /* Set the width of the scrollbar */
        scrollbar-color: #304D70 transparent;
        scrollbar-radius: 7px;
    }


















    /* Styling for the pop-up container */
    .popup-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 80%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 7px;
    }

    /* Styling for the pop-up form */
    .popup-form {
        /* Add your form styling here */
    }

    /* Styling for the overlay/background behind the pop-up */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .middleBottom {
        overflow: auto;
        height: 30%;
        margin: 15px;
        margin-top: -40px;
        border-radius: 7px;
        background-color: red;
        z-index: 2; /* Set a higher z-index to bring it to the front */
    }

    .middleMiddle {
        position: relative; /* Make sure position is set to relative or absolute */
        z-index: 1; /* Set a lower z-index compared to .middleBottom */
    }







    .inputBox {
        padding: 10px 20px;
    }




    .edit-Button {
        background-color: #304D70;
        color: white;
        padding: 6px 18px;
        border-radius: 5px;
        transition: transform 0.3s ease;
        border: none;
        text-decoration: none;
    }

        .edit-Button:hover {
            transition: 0.5s;
            transform: scale(1.1);
            color: white;
        }







    .upper-info-class {
        height: 85%;
        background-color: white;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }










    .under-info-class {
        height: 30%;
        /*background-color: yellow;*/
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .firstBox {
        width: 49%;
        border-radius: 6px;
        height: 100%;
        padding-top: 25px;
        background-color: white;
        /*border: 2px solid #ECECEC;*/
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
    }

    .firstBox-Upper {
        height: 50%;
        width: 100%;
        display: flex;
    }

    .firstBox-Lower {
        height: 50%;
        width: 100%;
        display: flex;
    }



    .inputBoxHeader p {
        margin: 0;
    }


    .inputBoxContent {
        background-color: #ECECEC;
        border-radius: 5px;
        padding-top: 15px;
        padding: 15px;
    }

    .inputBoxContent p {
        margin: 0;
    }
    
    .inputBoxButton {
        width: 100%;
        /* background-color: yellow; */
    }


    .back-icon {
        color: black;
    }

    .inputBoxButton {
        height: 30px;
        padding: 5px 0px;
        display: flex;
    }

    .inputLeft {
        width: 50%;
        text-align: left;
    }

    .inputRight {
        width: 50%;
        text-align: right;
    }

    .inputRight a {
        text-decoration: none;
        color: black;
    }





    .middleBody-Right {
        /* background-color: yellow; */
        /* border-radius: 5px; */
        /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05); */
        height: 108%;
        /* padding: 0px 20px; */
        padding-left: 20px;
    }


    .middleBody-Body {
        height: 100%;
        border-radius: 7px;
        background-color: #304D70;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    }


    .progress-container {
        width: 100%;
        background-color: #f0f0f0;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .progress-bar {
        width: 0%;
        height: 20px;
        background-color: #4caf50;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    .middleBody-Upper {
        padding-top: 35px;
        padding-left: 20px;
        color: white;
        height: 15%;
    }

        .middleBody-Upper p {
            padding-left: 2px;
            margin-top: -10px;
        }

    .middleBody-Middle {
        height: 60%;
        width: 100%;
        /* background-color: red; */

        display: flex;
        justify-content: center; /* Align content horizontally */
        align-items: center; /* Align content vertically */
    }

        .middleBody-Middle img {
            padding-top: 50px;
            width: 90%;
        }
</style>




<div class="memberBody">
    <div class="upperBody">
        <h4><b> @Html.DisplayFor(model => model.ClassName)</b></h4>
    </div>


    <div class="middleBody">
        <div class="middleBody-Left">


            <div class="upper-info-class">

               @*  <div class="inputBox">
                    <a href="#" onclick="history.go(-1); return false;"><i class="fas fa-angle-left back-icon"></i></a>
                </div>

              *@

                <div class="inputBox">
                    <div class="inputBoxButton">
                        
                        <div class="inputLeft">
                            <a href="#" onclick="history.go(-1); return false;"><i class="fas fa-angle-left back-icon"></i></a>
                        </div>

                        <div class="inputRight">
                            <a asp-action="Edit" asp-route-id="@Model?.ClassID"><i class="fas fa-pen-alt"></i></a>
                            /
                            <a asp-action="Delete" asp-route-id="@Model?.ClassID"><i class="fas fa-trash-alt"></i></a>
                            @* <a asp-controller="Classes" asp-action="Edit" asp-route-id="@resource.ClassID">Edit</a> *@

                        </div>

                    </div>

                    <div class="inputBoxHeader">
                        <p><strong>@Html.DisplayNameFor(model => model.ClassName)</strong></p>
                    </div>

                    <div class="inputBoxContent">
                        <p>@Html.DisplayFor(model => model.ClassName)</p>
                    </div>
                </div>


                <div class="inputBox">
                    <div class="inputBoxHeader">
                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.Description)
                            </strong>
                        </p>
                        </div>

                    <div class="inputBoxContent" style="height: 90px; overflow-y: auto;">
                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                    </div>

                </div>

                <div class="inputBox">
                    <div class="inputBoxHeader">
                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.Date)
                            </strong>
                        </p>
                    </div>

                    <div class="inputBoxContent">
                        <p>
                            @Html.DisplayFor(model => model.Date)
                        </p>
                    </div>

                </div>


                <div class="inputBox">
                    <div class="inputBoxHeader">
                        <p>
                            <strong>
                                @Html.DisplayNameFor(model => model.Duration)
                            </strong>
                        </p>
                    </div>

                    <div class="inputBoxContent">
                        <p>
                            @* @(resource.Duration.Hours) hour @(resource.Duration.Minutes) minutes *@
                            @Html.DisplayFor(model => model.Duration.Hours) hour @Html.DisplayFor(model => model.Duration.Minutes) minutes
                        </p>
                    </div>

                </div>

            </div>

            <div class="under-info-class">
                <div class="firstBox">
                    <div class="firstBox-Upper">
                        <div class="imageContent">
                            <img src="/images/Classes_Icon.png" />
                        </div>
                        <div class="textContent">
                            <h2>X</h2>
                        </div>
                        <div class="textContentDescription">
                            <p>XXXX</p>
                        </div>
                    </div>
                    <div class="firstBox-Lower">
                        <div class="textContentLower">
                            <h4><b>XXXX</b></h4>
                        </div>
                        <div class="textContentDescriptionLower">
                            <p style="background-color:  rgba(255, 49, 49, 0.2); color:rgba(255, 49, 49, 1);"><b>Total</b></p>
                        </div>
                    </div>
                </div>
                <div class="firstBox">
                    <div class="firstBox-Upper">
                        <div class="imageContent">
                            <img src="/images/StaffMember_Icon.png" />
                        </div>
                        <div class="textContent">
                            <h2>X</h2>
                        </div>
                        <div class="textContentDescription">
                            <p>XXXX</p>
                        </div>
                    </div>
                    <div class="firstBox-Lower">
                        <div class="textContentLower">
                            <h4><b>XXXX</b></h4>
                        </div>
                        <div class="textContentDescriptionLower">
                            <p style="background-color: rgba(61, 217, 235, 0.2); color: rgba(61, 217, 235, 1);"><b>Total</b></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--This is the right side-->
        <div class="middleBody-Right">

            <div class="middleBody-Body">

                <div class="middleBody-Upper">
                    <h4><b>Overall Statistics</b></h4>
                    <p>Overview @DateTime.Now.Year</p>
                </div>

                <div class="middleBody-Middle">
                    <img src="~/images/member3D.png" />
                </div>

                <div class="">
                </div>

            </div>
        </div>
    </div>
</div>




